<html>
<head>
	<title>Test Page</title>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	<script type="text/javascript">
	
		$.get('/user', function(data) {
			for( var i = 0; i < data.length; i++ ) {
				$('#output').append( data[i].name +"<br/>" );
				$('#output').append( data[i].email + "<br/>" );
			}
		});
	</script>
</head>
<body>
	<h1>Test Page!</h1>

	<a href='/'>Go To Homepage!</a>

	<div id='output'></div>

	<div>
		<h2>Create a new user<h2>
		<form action='/user' method='post'>
			Name: <input type='text' name='name' /> <br/>
			Email: <input type='text' name='email' /> <br/>

			<input type='submit' value='Submit' />
		</form>
	</div>
</body>
</html>